<<section id="guia" class="mt-5">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
        <div class="card_guia">
          <div class="card">
            <div class="card-body text-center">
              <p>
                <img class="img-fluid" src="{{guia.foto}}" alt="{{guia.nombre}}">
              </p>
              <h4 class="card-title">{{guia.nombre}}</h4>
              <p class="card-text">
                {{guia.cargo}} <br>
                <b>{{guia.zonas}}</b><br>
                <b>Identidad:</b> {{guia.identidad}}
                <br><b>Telefono:</b> {{guia.telefono}}
                <br><b>Correo:</b> {{guia.correo}}
                <br><b>MAC:</b> {{guia.mac}}
              </p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
